<div
    class="font-sans antialiased text-gray-900 leading-normal tracking-wider bg-cover"
    style="background-image:url('https://source.unsplash.com/1L71sPT5XKc');">
    <div
        class="max-w-4xl flex items-center h-auto lg:h-full flex-wrap mx-auto my-28 lg:my-0">

        <!--Main Col-->
        <div id="profile"
            class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-white opacity-75 mx-6 lg:mx-0">

            <div class="p-4 md:p-12 text-center lg:text-left">
                <!-- Image for mobile view-->
                <div
                    class="block lg:hidden rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center"
                    style="background-image: url(data:image/{{user.profileImage.contentType}};base64,{{base64img}})"></div>

                <h1 class="text-3xl font-bold pt-8 lg:pt-0">{{user.first_name}}
                    {{user.last_name}}</h1>
                <div
                    class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-green-500 opacity-25"></div>
                <p
                    class="pt-8 text-base font-bold flex items-center justify-center lg:justify-start"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24"><path
                            fill="currentColor" fill-opacity="0"
                            d="M12 11L4 6H20L12 11Z"><animate fill="freeze"
                                attributeName="fill-opacity" begin="1s"
                                dur="0.15s" values="0;0.3" /></path><g
                            fill="none" stroke="currentColor"
                            stroke-linecap="round" stroke-width="2"><rect
                                width="18" height="14" x="3" y="5"
                                stroke-dasharray="64" stroke-dashoffset="64"
                                rx="1"><animate fill="freeze"
                                    attributeName="stroke-dashoffset" dur="0.6s"
                                    values="64;0" /></rect><path
                                stroke-dasharray="24" stroke-dashoffset="24"
                                d="M3 6.5L12 12L21 6.5"><animate fill="freeze"
                                    attributeName="stroke-dashoffset"
                                    begin="0.6s" dur="0.4s" values="24;0" /></path></g></svg>
                    {{user.email}}</p>
                <p
                    class="pt-6 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24"><path
                            fill="currentColor"
                            d="M12 3.75a3.75 3.75 0 1 0 0 7.5a3.75 3.75 0 0 0 0-7.5Zm-4 9.5A3.75 3.75 0 0 0 4.25 17v1.188c0 .754.546 1.396 1.29 1.517c4.278.699 8.642.699 12.92 0a1.537 1.537 0 0 0 1.29-1.517V17A3.75 3.75 0 0 0 16 13.25h-.34c-.185 0-.369.03-.544.086l-.866.283a7.251 7.251 0 0 1-4.5 0l-.866-.283a1.752 1.752 0 0 0-.543-.086H8Z" /></svg>
                    {{user.age}} years</p>

                <div class="pt-6 flex flex-row items-center text-center gap-5">
                    <p
                        class="text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start"><svg
                            xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" viewBox="0 0 24 24"><path
                                fill="currentColor"
                                d="M15 21h-2a2 2 0 0 1 0-4h2v-2h-2a4 4 0 0 0 0 8h2Zm8-2a4 4 0 0 1-4 4h-2v-2h2a2 2 0 0 0 0-4h-2v-2h2a4 4 0 0 1 4 4Z" /><path
                                fill="currentColor"
                                d="M14 18h4v2h-4zm-7 1a5.989 5.989 0 0 1 .09-1H3v-1.4c0-2 4-3.1 6-3.1a8.548 8.548 0 0 1 1.35.125A5.954 5.954 0 0 1 13 13h5V4a2.006 2.006 0 0 0-2-2h-4.18a2.988 2.988 0 0 0-5.64 0H2a2.006 2.006 0 0 0-2 2v14a2.006 2.006 0 0 0 2 2h5.09A5.989 5.989 0 0 1 7 19ZM9 2a1 1 0 1 1-1 1a1.003 1.003 0 0 1 1-1Zm0 4a3 3 0 1 1-3 3a2.996 2.996 0 0 1 3-3Z" /></svg>
                        Your role is: <span class="uppercase font-bold">{{user.role}}</span></p>
                        {{#if adminflag}}
                        {{else}}
                        <button type="submit" class="btn btn-info btn-xs" onclick="changeRole()">{{#if userflag}}Upgrade to premium{{else}}Change to user{{/if}}</button>
                        {{/if}}
                </div>

                <form action="/api/sessions/updateProfile" method="POST"
                    enctype="multipart/form-data" class="form-control my-5">
                    <input type="file" name="profileImage" id="profileImage"
                        onchange="enableUpdateButton()"
                        class="file-input file-input-bordered file-input-accent w-full max-w-xs" />

                    <div class="pt-6 pb-8">
                        <button type="submit" id="updateButton"
                            class="bg-green-700 hover:bg-green-900 text-white font-bold py-2 px-4 rounded-full disabled:btn-disabled disabled:text-gray-500"
                            disabled>
                            Update profile
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!--Img Col-->
        <div class="w-full lg:w-2/5">
            {{#if photoflag}}
            <img
                src="data:image/{{user.profileImage.contentType}};base64,{{base64img}}"
                class="rounded-none lg:rounded-lg shadow-2xl hidden lg:block">

            {{else}}
            <!-- Big profile image for side bar (desktop) -->
            <img src="https://source.unsplash.com/MP0IUfwrn0A"
                class="rounded-none lg:rounded-lg shadow-2xl hidden lg:block">
            {{/if}}
        </div>
    </div>

</div>
<script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@4"></script>
<script src="/js/profile.js"></script>