{{!-- <div>
    <p style="color:red">{{error}}</p>
    <form method="post" action="/api/sessions/resetpassword?token={{token}}">
        <input type="text" placeholder="correo" name="email" />
        <br /><br />
        <input type="password" placeholder="nueva contraseña" name="newPassword" />
        <br /><br />
        <button type="submit">Restablecer</button>
    </form>
</div> --}}

<section class="grid h-screen place-content-center bg-slate-900 text-slate-300">
    <p style="color:red" class="text-3xl py-10">{{error}}</p>
    <h2 class="my-6 text-2xl text-indigo-300">Password change requested for
        <span class="font-bold italic">{{email}}</span></h2>
    <div class="my-5 text-center text-indigo-400">
        <h1 class="text-3xl font-bold tracking-widest">Create a new password</h1>
    </div>
    <div class="flex flex-col items-center justify-center space-y-6">
        <form class="flex flex-col justify-center" method="post" action="/api/sessions/resetpassword?token={{token}}">
            <input type="password" id="newPassword" name="newPassword"
                placeholder="Password"
                class="w-80 my-3 appearance-none rounded-full border-0 bg-slate-800/50 p-2 px-4 focus:bg-slate-800 focus:ring-2 focus:ring-orange-500" />
            <div class="my-2">
                <input type="password" id="confirm_password"
                    name="confirm_password"
                    placeholder="Confirm Password"
                    class="w-80 appearance-none rounded-full border-0 bg-slate-800/50 p-2 px-4 focus:bg-slate-800 focus:ring-2 focus:ring-orange-500" />
                <div class="my-3 flex flex-row justify-between items-center">
                    <a id="showPw"
                        class="m-auto my-2 btn-xs btn rounded-full bg-green-500 text-white hover:bg-white hover:text-black"><span
                            id="showHide">Show password</span></a>
                    <p id="validation"
                        class="text-center text-orange-500 italic text-sm"></p>
                </div>
            </div>

            <button disabled type="submit" id="submit"
                class="disabled:bg-gray-800 w-3/4 m-auto rounded-full bg-indigo-500 p-2 px-4 text-white hover:bg-indigo-600"><span>Change</span>
                Password</button>
        </form>

    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="/js/resetpassword.js"></script>